<!--<nav>
	<h4>Bariact</h4>
	<ul>
		<li><a href="/">Home</a></li>
		<li><a href="/login">Login</a></li>
		<li><a href="/register">Back to Register</a></li>
	</ul>
</nav>-->

<!--DOCTOR-->

<div class="container mt-4">
	<div class="card">
		<div class="card-header">Register Form for</div>
		<div class="card-body">
			<form action="/auth/registerpatient" method="POST">
			
				
		</div>
	</div>

</div>
	
	

<script>
/*
window.addEventListener('load', function() {
    console.log('All assets are loaded');
	
	var myIC = document.getElementById("ic").value;
	var myGender = document.getElementById("gender");
	var myAge = document.getElementById("age");

	console.log("ic value"+ myIC);
	
	//get gender
	var ic_val = Number(myIC);
	console.log("ic value"+ ic_val);
	console.log(typeof ic_val);
	
	if ((ic_val%2) == 0) {
		myGender.innerHTML.value = "Female"; //even
		console.log("My Gender " + myGender.innerHTML.value);
		
	} else {
		myGender.innerHTML.value = "Male"; //odd
		console.log("My Gender " + myGender.innerHTML.value);
	}
	
	//get age
	let string_ic = String.toString(myIC);
	var birthyear = null;
	if(string_ic.charAt(0) == "0" || string_ic.charAt(0) == "1" || string_ic.charAt(0) == "2"  ){
		const char0 = 2;
		const char1 = 0;
		
		birthyear = '' + char0 + char1 + string_ic.charAt(0) + string_ic.charAt(1);
		console.log("My birthyear 1" + birthyear);
		console.log(typeof birthyear);
	}else{
		const char0 = 1;
		const char1 = 9;
		
		birthyear = '' + char0 + char1 + string_ic.charAt(0) + string_ic.charAt(1);
		console.log("My birthyear 2" + birthyear);
		console.log(typeof birthyear);
	}
	
	var curr_year = new Date().getFullYear();
	console.log("Current Year" + curr_year);
	
	console.log(birthyear);
	var final_age = curr_year - Number(birthyear);
	console.log(typeof birthyear);
	console.log("Final Age" + final_age);
	myAge.innerHTML.value = final_age;
})

//get age and gender based on IC
function inputIC(ic){
	
	console.log(ic+"my ic");
	
	var myGender = document.getElementById("gender");
	var myAge = document.getElementById("age");
	
	console.log(ic+" "+myGender.value+" "+myAge.value);
	
}

//display surgery weight before operation
function inputSurgery(status){
	if(status == "pre"){
		document.getElementById("before_surg_weight").style.display = "none";
	}else if(status == "post"){
		document.getElementById("before_surg_weight").style.display = "block";
	}else{
		console.log("Error Surgery Status" + status)
	}
}*/

	
</script>
