				
<div class="form-group" style="padding: 5px;">
	<input type="hidden" class="form-control" id="ic" name="ic"  value="{{this.ic}}">
</div>

<div class="form-group" style="padding: 5px;">
	<label for="fullname">Fullname</label>
	<input type="text" class="form-control" id="fullname" name="fullname" placeholder="Enter Fullname" value="{{this.fullname}}">
</div>

<div class="form-group" style="padding: 5px;">
	<label for="surgery_status">Surgery Status</label>
	<input type="text" class="form-control" id="surgery_status" name="surgery_status" placeholder="Enter Surgery Status" value="{{this.surgery_status}}">
</div>

<div class="form-group" style="padding: 5px;">
	<label for="phone_number">Phone Number</label>
	<input type="text" class="form-control" id="phone_number" name="phone_number" placeholder="Enter Phone Number" value="{{this.phone_number}}">
</div>

<div class="form-group" style="padding: 5px;">
	<div class="btn-group">
		<button type="submit" class="btn btn-primary" style="padding: 5px;">Submit</button>
	</div>
</div>